@import '_colors';

.app {
  display: flex;
  background-color: $main-dark;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: $main-text-light;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

a {
  color: $main-light;
}

.top-nav {
  // Override material ui
  background-color: $main-dark !important;
  box-shadow: unset !important;
  
  button {
    transition: none !important;
    text-transform: unset !important;
    font-family: unset;
    font-size: 1.5rem;
    font-weight: 200;
  }
}

.main-section {
  height: 500px;
  display: flex;
  padding: 50px 225px 0px 225px;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

.main-personal-photo {
  width: auto;
  height: 550px;
  border-radius: 50%;
  padding: 20px;
}

.about-content {
  flex-direction: column;
  font-size: 1.18rem;
}

footer {
  margin-top: auto;

  a {
    color: $main-light;
  }

  p {
    font-size: 12px;
    padding: 0;
    margin: 8px;
    color: $footer-text-light;
  }

  svg, svg > * {
    height: 30px;
    width: 30px;
    color: green !important;
    fill: green !important;
    fill-opacity: 0.5;
    stroke: green !important;
  }
}
